.infoicon {
	margin-left: 20px;
	font-size: 38px;
	color: black;
	vertical-align: 0 !important;
}

.infoicon:hover {
	color: red;
}

.divChart {
	width: 100%;
	height: 100%;
}

.canvasjs-chart-tooltip {
	color: white !important;
	border: 1px solid rgb(25, 36, 137);
	background: black !important;
}
