.buttonlinkBlack {
	color: #222 !important;
	text-decoration: none;
}

.btn-link {
	margin-bottom: 40px;
}

.dropdown-menu {
	max-height: 25em;
	overflow: auto;
}

#dropdown-basic {
	min-width: 236px !important;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #dc3545;
}

@media (max-height: 900px) {
	.richtung {
		top: auto !important;
		bottom: 0px !important;
		max-height: 15em !important;
		transform: translate3d(0px, -40px, 0px) !important;
	}

	.dropdown-toggle::after {
		transform: rotate(180deg) !important;
	}
}

.accordion > .card > .card-header {
	min-width: 230px;
	text-align: center;
	max-height: 38px;
	padding: 0px;
	background-color: white;
}

.card-body {
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.form-control {
	max-width: 160px;
}

.loading {
	text-align: center;
}

.flaeche {
	-webkit-filter: blur(3px);
}

.selectionButton {
	max-height: 38px;
}

.selectionIcon {
	margin-left: 10px;
	vertical-align: 0.125em !important;
}

.tooltipIcon {
	margin-left: 10px;
	font-size: calc(20px + (23 - 20) * ((100vw - 375px) / (1200 - 375)));
	vertical-align: calc(
		0.5em + (1 - 0.5) * ((100vw - 375px) / (1200 - 375))
	) !important;
}

.tooltip-inner {
	right: 25px;
	position: relative;
	background-color: #343a40;
	color: white;
}

.tooltip .arrow::before {
	left: 5px;
	border-top-color: #343a40;
}

.tooltipIcon:hover {
	color: red;
}
